.key {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 15px;
}
.key li {
  margin-bottom: 10px;
  display: block;
}
.scroll-content {
  max-width: 1400px;
  margin: auto;
}
.scroll-content .backdrop {
  position: fixed;
  top: 0;
  left: 25%;
  -webkit-transform: translate(-600px);
  transform: translateX(-600px);
  width: 90%;
  height: 100%;
  z-index: -999;
}
@media (max-width: 1100px) {
  .scroll-content .backdrop {
    left: 0;
    -webkit-transform: none;
    transform: none;
    width: 80%;
  }
}
@media (max-width: 768px) {
  .scroll-content .backdrop {
    width: 66%;
  }
}
@media (max-width: 480px) {
  .scroll-content .backdrop {
    width: 100%;
  }
}
.scroll-content .backdrop svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.scroll-content .backdrop svg path,
.scroll-content .backdrop svg polyline,
.scroll-content .backdrop svg polygon,
.scroll-content .backdrop svg line,
.scroll-content .backdrop svg circle,
.scroll-content .backdrop svg rect {
  opacity: 1;
}
.scroll-content .backdrop svg text,
.scroll-content .backdrop svg g text {
  fill: black;
}
.scroll-content .backdrop svg #Existing {
  opacity: 1;
}
.scroll-content .backdrop svg.zoomed g[id]:not(.activated) .cls-2,
.scroll-content .backdrop svg.zoomed g[id]:not(.activated) .cls-11,
.scroll-content .backdrop svg.zoomed g[id]:not(.activated) .cls-21 {
  fill: #e0e0e0;
  stroke: #e0e0e0;
}
.scroll-content .layer {
  float: right;
  margin-right: 20px;
  margin-bottom: 500px;
  margin-bottom: 70vh;
  width: 300px;
  box-shadow: 16px 16px 16px -8px rgba(0, 0, 0, 0.1);
  clear: both;
  padding: 16px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  background: white;
  z-index: -100;
}
@media (max-width: 480px) {
  .scroll-content .layer {
    width: auto;
    margin: 0 20px 500px;
  }
}
.scroll-content .layer.first {
  margin-top: 200px;
  margin-top: 20vh;
  opacity: 0;
}
.scroll-content .layer h2 {
  margin: 0;
}
/*
    Stylesheet for the funding bar-chart vizualization.
*/
.row-title {
  font-size: 32px;
}
@media (max-width: 480px) {
  .row-title {
    font-size: 16px;
  }
}
.container {
  padding: 0.5rem;
}
.row rect {
  cursor: pointer;
  transition: all ease 0.1s;
}
#chart {
  position: relative;
}
#tooltip {
  position: absolute;
  opacity: 0;
  padding: 5px 10px;
  color: #333;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: -23px 0 0 -15px;
  white-space: nowrap;
  pointer-events: none;
  width: auto;
  transition: opacity ease 0.2s, transform ease 0.2s;
}
#tooltip.visible {
  opacity: 1;
  transform: translateY(-10px);
}
#tooltip:after {
  content: '';
  position: absolute;
  left: 10px;
  bottom: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
/*
Shims for Flexbox - should work on Safari and IE10+
*/
.display-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
body {
  font-size: 17px;
}
ul {
  list-style-type: circle;
}
.logo {
  height: 80px;
  float: left;
  margin-top: 16px;
}
.hdr-logo {
  margin-top: 12px;
  margin-bottom: 0;
  display: inline-block;
}
h1 {
  color: #47BEED;
}
.constrained {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}
.sticky {
  position: fixed;
  top: 1%;
  left: 1%;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.sticky + .scroll-content {
  padding-top: 60px;
}
.btn {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  padding: 0;
  width: 115px;
  height: 25px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #00B0F0;
  color: #ecf0f1;
  transition: background-color 0.3s;
}
.btn:hover,
.btn:focus {
  background-color: #00B0F0;
}
.btn > * {
  position: relative;
}
.btn span {
  display: block;
  padding: 12px 24px;
}
.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}
.button {
  display: inline-block;
  width: 115px;
  height: 25px;
  background: #4dc3e0;
  margin: 4px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.anchor {
  position: relative;
  top: -120px;
  visibility: hidden;
}
#nav {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 115px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 12px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #69b3e7;
}
header.intro {
  background: white;
  padding: 20px 0;
}
header.intro .splash {
  width: 100%;
}
header.intro h1 {
  font-size: 32px;
  text-align: center;
}
header.intro h2 {
  font-size: 20px;
  font-weight: normal;
}
header.intro .jump {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
}
.text-block {
  clear: both;
  background: white;
  padding: 20px 0;
}
.text-block.project-head {
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.1);
}
.text-block.funding-bars {
  box-shadow: 0 -16px 16px rgba(0, 0, 0, 0.1);
}
.text-block h2 {
  border-top: 3px solid #69b3e7;
  padding-top: 8px;
}
.text-block h2.orange {
  border-color: #db4e00;
}
.text-block h2.purple {
  border-color: #492F92;
}
.text-block h2.blue {
  border-color: #69b3e7;
}
#vis {
  width: 940px;
  height: 600px;
  clear: both;
  margin-bottom: 10px;
}
#view_selection {
  margin-top: 10px;
}
.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
  opacity: .9;
  color: black;
  padding: 10px;
  width: 300px;
  font-size: 12px;
  z-index: 10;
}
.tooltip .title {
  font-size: 13px;
}
.tooltip .name {
  font-weight: bold;
}
