.key {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 15px;
}
.key li {
  margin-bottom: 10px;
  display: block;
}
.key b.icon {
  font-size: 20px;
  margin-right: 8px;
  display: inline-block;
  text-align: center;
  width: 16px;
}
.key .station.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 100%;
  vertical-align: middle;
  text-align: center;
  font-style: normal;
  font-size: 10px;
  font-weight: bold;
  margin-right: 8px;
}
.key .station.icon.approved {
  background: black;
}
.key .station.icon.existing {
  border-radius: 0;
  height: 8px;
  background: black;
}
.key .station.icon.bus {
  border-radius: 0;
  transform: rotate(45deg);
}
.key .station.icon.improved::before {
  content: "+";
}
.key .station.icon.parking::before {
  content: "P";
}
.scroll-content {
  max-width: 800px;
  margin: auto;
}
.scroll-content .backdrop {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-600px);
  transform: translateX(-600px);
  width: 800px;
  height: 100%;
  z-index: -1;
}
@media (max-width: 1100px) {
  .scroll-content .backdrop {
    left: 0;
    -webkit-transform: none;
    transform: none;
    width: 80%;
  }
}
@media (max-width: 768px) {
  .scroll-content .backdrop {
    width: 66%;
  }
}
@media (max-width: 480px) {
  .scroll-content .backdrop {
    width: 100%;
  }
}
.scroll-content .backdrop svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.scroll-content .backdrop svg text {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  fill: #424648;
}
.scroll-content .backdrop svg path,
.scroll-content .backdrop svg polyline,
.scroll-content .backdrop svg polygon,
.scroll-content .backdrop svg line,
.scroll-content .backdrop svg circle,
.scroll-content .backdrop svg text {
  transition: all .3s linear;
}
.scroll-content .backdrop svg.zoomed g[id]:not(.activated) path,
.scroll-content .backdrop svg.zoomed g[id]:not(.activated) polyline,
.scroll-content .backdrop svg.zoomed g[id]:not(.activated) polygon,
.scroll-content .backdrop svg.zoomed g[id]:not(.activated) line,
.scroll-content .backdrop svg.zoomed g[id]:not(.activated) circle {
  stroke: #e0e0e0;
}
.scroll-content .backdrop svg.zoomed g[id]:not(.activated) text,
.scroll-content .backdrop svg.zoomed g[id]:not(.activated) g text {
  fill: #e0e0e0;
}
.scroll-content .backdrop svg.zoomed g[id]:not(.activated) .cls-4,
.scroll-content .backdrop svg.zoomed g[id]:not(.activated) .cls-10 {
  fill: #e0e0e0;
}
.scroll-content .layer {
  float: right;
  margin-right: 20px;
  margin-bottom: 500px;
  margin-bottom: 70vh;
  width: 300px;
  box-shadow: 16px 16px 16px -8px rgba(0, 0, 0, 0.1);
  clear: both;
  padding: 16px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  background: white;
}
@media (max-width: 480px) {
  .scroll-content .layer {
    width: auto;
    margin: 0 20px 500px;
  }
}
.scroll-content .layer.first {
  margin-top: 200px;
  margin-top: 20vh;
}
.scroll-content .layer h2 {
  margin: 0;
}
.scroll-content .layer[data-layer="_405_BRT"],
.scroll-content .layer[data-layer="_522_BRT"] {
  border-left: 4px dashed #492F92;
}
.scroll-content .layer[data-layer="Bike_Ped"],
.scroll-content .layer[data-layer="West_Seattle"],
.scroll-content .layer[data-layer="Everett"],
.scroll-content .layer[data-layer="Redmond"],
.scroll-content .layer[data-layer="Kirkland"],
.scroll-content .layer[data-layer="Issaquah"],
.scroll-content .layer[data-layer="South_Federal_Way"],
.scroll-content .layer[data-layer="Federal_Way"],
.scroll-content .layer[data-layer="Tacoma"] {
  border-left: 4px dashed #db4e00;
}
.scroll-content .layer[data-layer="Channelization"] {
  border-left: 4px dashed #007749;
}
.scroll-content .layer[data-layer="Sounder_South"] {
  border-left: 4px solid #69b3e7;
}
.funding-bars h4 {
  margin-bottom: 0;
}
.funding-bars .bar {
  background: black;
  height: 20px;
}
.funding-bars .bar.index-0 {
  background: #1e5942;
  background-image: repeating-linear-gradient(-60deg, transparent 0px, transparent 2px, white 2px, white 3px, transparent 3px);
}
.funding-bars .bar.index-1 {
  background: #83aecd;
  background-image: repeating-linear-gradient(-60deg, transparent 0px, transparent 2px, white 2px, white 3px, transparent 3px);
}
.funding-bars .bar.index-2 {
  background: #dfd74a;
  background-image: repeating-linear-gradient(-60deg, transparent 0px, transparent 2px, white 2px, white 3px, transparent 3px);
}
.funding-bars .bar.index-3 {
  background: #ba5721;
  background-image: repeating-linear-gradient(-60deg, transparent 0px, transparent 2px, white 2px, white 3px, transparent 3px);
}
.funding-bars .bar.index-4 {
  background: #574c75;
  background-image: repeating-linear-gradient(-60deg, transparent 0px, transparent 2px, white 2px, white 3px, transparent 3px);
}
.funding-bars .bar.index-5 {
  background: #424648;
  background-image: repeating-linear-gradient(-60deg, transparent 0px, transparent 2px, white 2px, white 3px, transparent 3px);
}
.funding-bars .bar.index-6 {
  background: #4dc396;
  background-image: repeating-linear-gradient(60deg, transparent 0px, transparent 2px, white 2px, white 3px, transparent 3px);
}
.funding-bars .bar.index-7 {
  background: #f0f5f9;
  background-image: repeating-linear-gradient(60deg, transparent 0px, transparent 2px, white 2px, white 3px, transparent 3px);
}
.funding-bars .bar.index-8 {
  background: #f6f4cc;
  background-image: repeating-linear-gradient(60deg, transparent 0px, transparent 2px, white 2px, white 3px, transparent 3px);
}
.funding-bars .bar.index-9 {
  background: #eaac8a;
  background-image: repeating-linear-gradient(60deg, transparent 0px, transparent 2px, white 2px, white 3px, transparent 3px);
}
.funding-bars .stacked-bar {
  overflow: hidden;
}
.funding-bars .stacked-bar .bar {
  float: left;
}
.funding-bars .breakout {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}
.funding-bars .breakout .item {
  padding: 0 0 8px 0;
}
.funding-bars .breakout .bar {
  height: 14px;
}
.funding-bars .breakout .money {
  font-weight: bold;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
/*
Shims for Flexbox - should work on Safari and IE10+
*/
.display-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
body {
  font-size: 17px;
}
ul {
  list-style-type: circle;
}
.constrained {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
}
.container {
  padding: 0.5rem;
}
.row rect {
  cursor: pointer;
  transition: all ease 0.1s;
}
#chart {
  position: relative;
}
#tooltip {
  position: absolute;
  opacity: 0;
  padding: 5px 10px;
  color: #333;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: -23px 0 0 -15px;
  white-space: nowrap;
  pointer-events: none;
  width: auto;
  transition: opacity ease 0.2s, transform ease 0.2s;
}
#tooltip.visible {
  opacity: 1;
  transform: translateY(-10px);
}
#tooltip:after {
  content: '';
  position: absolute;
  left: 10px;
  bottom: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
}
.sticky {
  position: fixed;
  top: 0;
}
.sticky + .scroll-content {
  padding-top: 60px;
}
.anchor {
  position: relative;
  top: -120px;
  visibility: hidden;
}
#nav {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  margin: auto;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 12px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #69b3e7;
}
header.intro {
  background: white;
  padding: 20px 0;
}
header.intro .splash {
  width: 100%;
}
header.intro h1 {
  font-size: 32px;
  text-align: center;
}
header.intro h2 {
  font-size: 20px;
  font-weight: normal;
}
header.intro .credits,
header.intro .date {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  color: #424648;
  font-size: 15px;
}
header.intro .jump {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
}
header.intro .side-by-side {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
header.intro .side-by-side .calculator {
  margin-left: 20px;
  -webkit-flex: 0 0 300px;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
}
@media (max-width: 480px) {
  header.intro .side-by-side {
    display: block;
  }
}
.text-block {
  clear: both;
  background: white;
  padding: 20px 0;
}
.text-block.project-head {
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.1);
}
.text-block.other-features {
  box-shadow: 0 -16px 16px rgba(0, 0, 0, 0.1);
}
.text-block h2 {
  border-top: 3px solid #69b3e7;
  padding-top: 8px;
}
.text-block h2.orange {
  border-color: #db4e00;
}
.text-block h2.purple {
  border-color: #492F92;
}
.text-block h2.blue {
  border-color: #69b3e7;
}
.source {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}
.other-features b {
  display: block;
}
.other-features ul {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}
.pros-cons h4 {
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}
.pros-cons .versus {
  display: flex;
}
.pros-cons .versus .pro {
  border-right: 1px solid #e0e0e0;
  padding-right: 16px;
}
@media (max-width: 480px) {
  .pros-cons .versus .pro {
    border-right: none;
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  .pros-cons .versus {
    display: block;
  }
}
#vis {
  width: 940px;
  height: 600px;
  clear: both;
  margin-bottom: 10px;
}
#view_selection {
  margin-top: 10px;
}
.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #000;
  /* background: #222222; */
  background: #fff;
  opacity: .9;
  /* color: #eeeeee; */
  color: black;
  padding: 10px;
  width: 300px;
  font-size: 12px;
  z-index: 10;
}
.tooltip .title {
  font-size: 13px;
}
.tooltip .name {
  font-weight: bold;
}
