@transit-blue: #69b3e7;
@transit-yellow: #fff32a;
@transit-orange: #db4e00;
@transit-purple: #492F92;
@transit-green: #007749;

@import "map";
@import "bars";
@import "values";
@import "flexbox";

body {
  font-size: 17px;
}

ul {
  list-style-type: circle;
}

.constrained {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
  font-family: @df-sans;
}

.row-title {
  font-size: 32px;
}

.container {
  padding: 0.5rem;
}

.row rect {
  cursor: pointer;
  transition: all ease 0.1s; }

#chart {
  position: relative; }

#tooltip {
  position: absolute;
  opacity: 0;
  padding: 5px 10px;
  color: #333;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: -23px 0 0 -15px;
  white-space: nowrap;
  pointer-events: none;
  width: auto;
  transition: opacity ease 0.2s, transform ease 0.2s; }
  #tooltip.visible {
    opacity: 1;
    transform: translateY(-10px); }
  #tooltip:after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent; }

.sticky {
  position: fixed;
  top: 0;
}

.sticky + .scroll-content {
  padding-top: 60px;
}

.anchor {
  position: relative;
  top: -120px;
  visibility: hidden;
}

#nav {
  font-family: @df-sans;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  margin: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 12px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: @transit-blue;
}

header.intro {
  background: white;
  padding: 20px 0;

  .splash {
    width: 100%;
  }

  h1 {
    font-size: 32px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    font-weight: normal;
  }

  .credits, .date {
    font-family: @df-sans;
    color: @df-dark-gray;
    font-size: 15px;
  }

  .jump {
    font-family: @df-sans;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
  }

  .side-by-side {
    .display-flex;

    .calculator {
      margin-left: 20px;
      .flex(0 0 300px);
    }

    @media @mobile {
      display: block;
    }
  }
}

.text-block {
  clear: both;
  background: white;
  padding: 20px 0;

  &.project-head {
    box-shadow: 0 16px 16px fade(black, 10%);
  }

  &.other-features {
    box-shadow: 0 -16px 16px fade(black, 10%);
  }

  h2 {
    border-top: 3px solid @transit-blue;
    padding-top: 8px;

    &.orange {
      border-color: @transit-orange;
    }

    &.purple {
      border-color: @transit-purple;
    }

    &.blue {
      border-color: @transit-blue;
    }
  }
}

.source {
  font-family: @df-sans;
  font-size: 14px;
}

.other-features {
  b {
    display: block;
  }

  ul {
    font-family: @df-sans;
  }
}

.pros-cons {
  h4 {
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: @df-sans;
  }

  .versus {
    display: flex;

    .pro {
      border-right: 1px solid @df-light-gray;
      padding-right: 16px;

      @media @mobile {
        border-right: none;
        padding-right: 0;
      }
    }

    @media @mobile {
      display: block;
    }
  }
}

#vis {
  width: 940px;
  height: 600px;
  clear: both;
  margin-bottom: 10px;
}
  
#view_selection {
  margin-top: 10px;
}
  
.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius:5px;
  border-radius: 5px;
  border: 2px solid #000;
  /* background: #222222; */
  background: #fff;
  opacity: .9;
  /* color: #eeeeee; */
  color: black;
  padding: 10px;
  width: 300px;
  font-size: 12px;
  z-index: 10;
}
  
.tooltip .title {
  font-size: 13px;
}
  
.tooltip .name {
  font-weight:bold;
}