<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <header class="intro">
      <div class="constrained">

        <h1>Transit Ecology</h1>

        <nav class="jump">
          <a href="#projects">Asset Classes</a> |
          <a href="#more-information">More Information</a> |
          <a href="#funding">Funding</a>
        </nav>
      
      </div>

    </header>

    <section class="text-block project-head" id="projects">
      <div class="constrained">
        <h3>Roadmap</h3>
      </div>
    </section>

    <section class="scroll-content">
      <div class="backdrop">
        <%= t.include("assets/sdot2.svg") %>
      </div>
      <div class="first layer" data-layer="Existing">
        <p>The Seattle Department of Transportation divides their assets and work into distinct classes. These range from common things like roadways, pedestrian walkways, and bridges, to new and exciting things like the Intelligent Transportation System, which helps us keep traffic moving as efficiently as possible throughout the city.</p>

        <ul class="key">
          <li> <i class="existing station icon"></i> Bike and Pedestrian System
          <li> <i class="approved station icon"></i> Channelization
          <li> <i class="new station icon"></i> Intelligent Transportation System
          <li> <i class="bus station icon"></i> Parking
          <li> <b class="icon">+</b> Bridges
          <li> <b class="icon">P</b> Roadways
        </ul>

        * Not all asset classes are shown.
      </div>
      <% json.stages.forEach(function(stage) { %>
      <div class="layer" data-layer="<%= stage.layer %>">
        <h2><%= stage.head %></h2>
        <p><%= stage.text %></p>
        <% if (typeof(stage.img) !== "undefined") { %>
          <img src=<%= stage.img %> alt="alt" />
        <% } %>
      </div>
      <% }) %>
    </section>

    <section class="text-block other-features" id="more-information">
      <div class="constrained">
      </div>
    </section>

    <section class="text-block funding-bars" id="funding">
      <div class="constrained">
      </div>
    </section>


    <script src="app.js" async></script>

  </body>
</html>
