<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <a name="home"></a>
    <header class="intro">
      <div class="constrained">
        <div class="hdr-container">
          <a href="/"><img class="logo" src="assets/transitsphere_logo.png" alt="TransitSphere logo" /></a>
          <h1 class="hdr-logo">TransitSphere</h1><br />
          <p class="hdr-logo">Your Civic Guide to Seattle's Transportation Ecosystem</p>
        </div>
        <br />
        <%= t.include("assets/hdr_background.svg") %>
    </header>

    <section class="text-block project-head" id="projects">
      <div class="constrained">
        <h2>Roadmap</h2>
        <p>The demands on Seattle’s transportation system have grown dramatically in recent years. Meanwhile, the system is aging. SDOT must balance infrastructure expansion, preservation, and maintenance by aligning Asset Management practices with service delivery strategies. This must occur within the limits of available resources to ensure that we strategically manage the transportation system for years to come.</p></p>
      </div>
      <div id="nav">
        <nav class="jump">
          <a href="#home">Home</a> |
          <div class="dropdown">
            <a class="dropbtn" href="#">Asset Classes &#9660;</a> |
            <div class="dropdown-content">  
              <a href="#bike_ped">Bike &amp; Pedestrian</a>
              <a href="#bridges">Bridges &amp; Structures</a>
              <a href="#channelization">Channelization</a>
              <a href="#its">Intelligent Transportation System</a>
              <a href="#parking">Parking Payment Devices</a>
              <a href="#pavement">Pavement</a>
              <a href="#property">Real Property</a>
              <a href="#signs">Signs</a>
              <a href="#safety">Safety Devices</a>
              <a href="#transit">Transit</a>
              <a href="#forest">Urban Forest</a>
            </div>
          </div>
          <a href="#funding">Funding</a> 
        </nav>
      </div>
    </section>
    
    <section class="scroll-content">
      <div class="backdrop">
        <%= t.include("assets/Background-test1.svg") %>
      </div>
      <div class="first layer" data-layer="Existing">
        <p>Asset Class Key</p>
        <ul class="key">
          <li> <i class="existing station icon"></i> Bike and Pedestrian System
          <li> <i class="existing station icon"></i> Bridges and Structures
          <li> <i class="approved station icon"></i> Channelization
          <li> <i class="new station icon"></i> Intelligent Transportation System
          <li> <i class="bus station icon"></i> Parking
          <li> <b class="icon">+</b> Bridges
          <li> <b class="icon">+</b> Pavement
          <li> <b class="icon">P</b> Real Property
          <li> <b class="icon">+</b> Signs
          <li> <b class="icon">+</b> Safety Devices
          <li> <b class="icon">+</b> Transit
          <li> <b class="icon">+</b> Urban Forest
        </ul>

      </div>
      <% json.stages.forEach(function(stage) { %>
      <div class="layer" data-layer="<%= stage.layer %>">
        <div id="<%= stage.anchor %>" class="anchor"></div>
        <h2><%= stage.head %></h2>
        <p><%= stage.text %></p>
        <% if (stage.extra !== null) { %>
        <h3><%= stage.extra %></h3>
        <% } %>
        <% if (stage.extext !== null) { %>
        <p><%= stage.extext %></p>
        <% } %>
      </div>
      <% }) %>
    </section>

    <section class="text-block funding-bars" id="funding">
      <div class="constrained">
        <div class="container">
      
          <div>
            <h1>All SDOT Assets - Replacement value of ~$20 Billion(Replacement Value)</h1>
            <p>"Replacement value" quantifies the cost of totally replacing a given asset</p>
            <div class="row">
              <div class="chart col-lg-12">
                <div id="chart">
                  <div id="tooltip">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>    
      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="app.js" async></script>

  </body>
</html>
